@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}

@media (max-width: 578px) {
    .container {
        max-width: 90%;
    }
}    
@import 'blocks/_promo';
@import 'blocks/_header';
@import 'blocks/_buttons';
@import 'blocks/_advantages';